/* Author: Heera Hemanth */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  color: white;
  background-color: teal;
}

nav {
  font: 1.5rem roboto, sans-serif;
  padding: 1rem 0;
}

nav span {
  padding: 0 1rem;
}

#main-content {
  height: calc(100vh - 3.9rem - 3rem);
  background-image: url('./bg.jpg');
  background-position: center;
}

footer {
  font: bold 1rem roboto, sans-serif;
  font-weight: 600;
  background-color: black;
  color: white;
  padding: 1rem 1rem;
}

.float-right {
  float: right;
}
